<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../public/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CertfiCard</title>
</head>
<body>
    

<section>
  <header>
    <img src="../../public/images/gabrielssantana.jpg" />
  </header>
  
  <h1>
    Gabriel Santos Santana 
    <a href="https://www.linkedin.com/in/gabriel-santos-santana/"><img src="../../public/images/linkedin.svg"/></a>
    <a href="https://api.whatsapp.com/send?phone=5513996656580"><img src="../../public/images/whatsapp.svg"/></a>
    <a href="https://github.com/gabrielssantana"><img src="../../public/images/github.svg"/></a>
  </h1>
  
  <div>
    
      <h2>
        Insignias Imersão.Dev
      </h2>

      <ol>
        <li><a href="../../../conversor_moedas/src/views/index.html">💰 Conversor de Moedas</a></li>
        <li><a href="../../../calculadora/src/views/index.html">🔢 Calculadora</a></li>
        <li><a href="../../../mentalista/src/views/index.html">🔮 Mentalista</a></li>
        <li><a href="../../../alura_flix/src/views/index.html">🎬 AluraFlix</a></li>
        <li><a href="../../../tabela_de_classificacao/src/views/index.html">🏆 Tabela de Classificação</a></li>
        <li><a href="../../../super_trunfo/src/views/index.html">🃏 SuperTrunfo</a></li>
        <li><a href="../../../certificard/src/views/index.html">🌐 Certificard</a></li>
      </ol>
    
  </div>
</section>
</body>
</html>